/* Main styles */
body {
	background-color: #E4E5E7;
	padding-top: 15px;
}

.aside {
	height: 400px;
}

.main {
	height: 400px;
}

.d-flex {
	display: flex;
}

.task-title {
	font-weight: 400;
	padding: 5px 10px 0 10px;
	cursor: pointer;
	word-break: break-all; 
    display: block;
}

.task-title--done {
	text-decoration: line-through;
	color: #c7c7c7;
}

.notifyholder {
	position: fixed;
	z-index: 100;
	top: 15px;
	left: 5px;
	width: 320px;
}

.notifyholder div {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	transition: opacity .3s linear;
	opacity: 0;
}
